/*------------------------------------------------------------------------------
// Copyright 2020 Loupe
//----------------------------------------------------------------------------*/

/* @version 1.3.0 */

.vertical-align {
	display: flex;
	align-items: center;
}

input.data-var-name{
	width: 60px;
	border-style: none;
}

/* LED classes */

.led {
	margin: 5px auto;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: #000 0 -1px 6px 1px;
	display: inline-block;
}

.led-on {
	color: green;
	background-color: lightgreen;
}

.led-off {
	color: gray;
	background-color: lightgray;
}

.led-red {
	background-color: #F00;
	box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
	background-color: #FF7000;
	box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
	background-color: #FF0;
	box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
	background-color: #80FF00;
	box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
	background-color: #06F;
	box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}